---
---

@import 'jekyll-theme-cayman-blog';

body {
    background: url(../img/bgBody.png) no-repeat left 400px;
}

a {
    color: #7cacd0;
}

div#contact div {
  padding: 0 20px;
  width: 33.33%;
}
div#contact div input, textarea, select {
  margin:10px; 
}
.wrapper {
  max-width: calc(60em - (30px * 2));
}


.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 1px 5px #aaa;
}

.page-header {
    background: url(../img/header.png) no-repeat left top;
    box-shadow: 0px 1px 5px #aaa;
    height: 340px;
    margin-top: 55px;
}

.page-header h1.project-name {
    text-shadow: 1px 1px 2px #aaa;
    padding : 0px 75px 0px 75px
}

.page-header {
    padding: 5rem 5rem 9rem 17rem;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.site-nav .page-link {
    color: #8fae24
}

.site-footer .site-nav {
    line-height: 24px;
}

.column-container{
  display: flex;
}
.column-one{
width: 80%;
}
.column-two{
  width: 20%;
  margin-left: 1em;
  min-height: 1OOOpx;
}

@media screen and (max-width: 1150px) {
    .page-header {
        padding: 3rem 5rem 9rem 17rem;
    }
    .page-header h1.project-name {
        font-size: 2.5rem;
        padding : 0px 75px 0px 75px
    }
}

@media screen and (max-width: 840px) {
    .page-header {
        padding: 3rem 5rem 9rem 17rem;
    }
    .page-header h1.project-name {
        font-size: 1.7rem;
        padding : 0px 75px 0px 75px
    }
}

@media screen and (max-width: 780) {
    .page-header {
        padding: 3rem 5rem 9rem 17rem;
    }
    .page-header h1.project-name {
        font-size: 1.7rem;
        padding : 0px 75px 0px 75px
    }
}

@media screen and (max-width: 620px) {
    .page-header {
        padding: 18rem 2rem 3rem 2rem;
    }
    .page-header h1.project-name {
        font-size: 0.9rem;
        text-shadow: 1px 1px 2px #444;
        padding : 0px 0px 0px 0px
    }
}

@media screen and (max-width: 500px) {
    .page-header {
        padding: 18rem 2rem 3rem 2rem;
    }
    .page-header h1.project-name {
        text-shadow: 1px 1px 2px #444;
        padding : 0px 0px 0px 0px
    }
}

@media screen and (max-width: 42em) {
    .column-container{
      display: block;
    }
    .column-one{
    }
    .column-two{
    width: 100%;
    min-height: 1000px;
    }
}

@media screen and (max-width: 500px) {
    .page-header {
        padding: 18rem 2rem 3rem 2rem;
    }
    .page-header h1.project-name {
        font-size: 0.8rem;
        text-shadow: 1px 1px 2px #444;
        padding : 0px 0px 0px 0px
    }
}


@media screen and (max-width: 38em) {
    .site-nav-footer {
        position: relative;
        top: auto;
    }
    .site-nav-footer .menu-icon {
        height: 34px;
    }
}

table.tableizer-table {
    /* font-size: 12px; */
    border: 0px solid #CCC;
} 
.tableizer-table td{

    border: 0px solid #CCC;
}
.impair{
    padding: 4px;
    margin: 3px;
    border: 0px solid #CCC;
    background-color: #eef7e3 ;

}
.pair{
    padding: 4px;
    margin: 3px;
    border: 0px solid #CCC;
    background-color:  #ffffff ;
}  

.pause{
    padding: 4px;
    margin: 3px;
    border: 0px solid #CCC;
    background-color: #93b023;
} 

.tableizer-table th {
    background-color: #93b023; 
    color: #FFF;
    font-weight: bold;
}

table.atelier-table {
	/* font-size: 12px; */
	border: 1px solid #CCC;
    border-spacing: 0 15px;
    text-align:center
}
.atelier-table  th {
    background-color: #93b023; 
    color: #FFF;
    padding: 1rem;
    font-size: 2rem;

}
.atelier-table td{

    border: 0px solid #CCC;
    text-align:center
}
.atelier{
    margin: 3px;
    padding: 2rem;
} 

.pause-atelier{
    color: #FFF;
    background-color: #93b023;
    font-size: 2rem;
    
} 