---
layout: default
---

<div class="column-container">

<div class="column-one">

  {{ content }}

  <h2>Dernières actualités</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>

      </li>
    {% endfor %}
  </ul>

</div>

<div class="column-two">
<div class="newsletter">
    <h1>Newsletter</h1>
    <p>(* champs obligatoires)</p>
    <form method="POST" action="https://post.express-mailing.com/gestion/abonnement.php">
      <input type="hidden" name="liste" value="F34C2572">
      Prénom * :<br/>
      <input type="text" name="prenom" required><br/>
      Nom * :<br/>
      <input type="text" name="nom" required onkeyup="this.value = this.value.toUpperCase();"><br/>
      Entreprise :<br/>
      <input type="text" name="societe"><br/>
      Adresse e-mail * :<br/>
      <input type="text" name="email" required><br/><br/>
      <input type="submit" value="S'abonner">
    </form>
  </div>
<br/>
<iframe allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="400" height="800" src="https://mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fmapstodon.space%2Fusers%2FJourneesQgis&theme=light&size=100&header=true&replies=false&boosts=false" style="border-radius: 10px;"></iframe>
</div>
</div>

