---
layout: default
---
<article>

  <div id="contact">
    Vous souhaitez parrainer l'événement ? Remplissez le formulaire suivant :
    <div>
      <form action="https://formspree.io/qgis-conf@osgeo.asso.fr"
          method="POST">
        <input type="text" placeholder="Votre nom" name="name">
        <input type="email" placeholder="Votre email" name="_replyto">
        <input type="text" placeholder="Votre société" name="company">
        <select name="parrainage" size="1">
          <option>Mécène</option>
          <option>Parrain</option>
        </select>
        <textarea name="message" placeholder="Votre message"></textarea>
        <input type="submit" value="Envoyer">
      </form> 
    </div>
  </div>

</article>
