---
layout: default
---
<article>

  La période de proposition de présentations est finie! 

<!-- 
  <div id="presentation">
    Vous pouvez nous envoyer une proposition de présentation via le <a href="https://framaforms.org/appel-a-presentation-rencontres-qgis-fr-2019-1569529946">formulaire</a> suivant :
    <div>
<iframe src="https://framaforms.org/appel-a-presentation-rencontres-qgis-fr-2019-1569529946" width="900" height="2800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div> -->

</article>
